<template>
	<div class="countdown">
		<b>
		    <span v-show="years">{{ years }} yr, </span>
		    <span v-show="months">{{ months }} mths, </span>
		    <span v-show="days">{{ days }} d, </span>
		    <span v-show="hours">{{ hours }} hr, </span>
		    <span v-show="minutes">{{ minutes }} min,</span>
		    <span v-if="seconds">{{ seconds }} sec</span>
		    <span v-if="!seconds && !minutes" class="late">LATE!!</span>
		</b>
	</div>
</template>

<script>
	import moment from 'moment'
	export default {
		props: ['to'],
		data () {
			return {
				actualTime: moment().format('X'),
				years: 0,
				months: 0,
				days: 0,
				hours: 0,
				minutes: 0,
				seconds: 0
			}
		},
		methods: {
		  addOneSecondToActualTimeEverySecond () {
		      this.actualTime = moment().format('X')
		      setTimeout(function(){
		          this.addOneSecondToActualTimeEverySecond()
		      }.bind(this), 1000);
		  },
		  getDiffInSeconds () {
		    return moment(this.to).format('X') - this.actualTime
		  },
		  compute () {
		    var duration = moment.duration(this.getDiffInSeconds(), "seconds")
		    this.years = duration.years() > 0 ? duration.years() : 0
		    this.months = duration.months() > 0 ? duration.months() : 0
		    this.days = duration.days() > 0 ? duration.days() : 0
		    this.hours = duration.hours() > 0 ? duration.hours() : 0
		    this.minutes = duration.minutes() > 0 ? duration.minutes() : 0
		    this.seconds = duration.seconds() > 0 ? duration.seconds() : 0
		  }
		},
		created () {
		  this.compute()
		  this.addOneSecondToActualTimeEverySecond()
		},
		watch: {
		    actualTime (val,oldVal) {
		        this.compute()
		    }
		}
	}
</script>

<style>
	.late{
		color: red;
	}
</style>