 
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//Font-Awesome
@import "font-awesome.min.css";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


$border-color: #d3e0e9;
*{
	list-style: none;
}
html{
	height: 100%;
}

body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#app{
	flex: 1;
}

.container{
	min-height: 100%;
}

.flat-content-box{
	background: #fff !important;
	border: 1px solid transparent;
 	border-color: $border-color;
	position: relative;
	padding: 15px;
	margin:{
		bottom: 15px;
	}
}

.content-box{
	@extend .flat-content-box;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}

.welcome-box{
	padding: 10px;
	p{
		margin-top: 4px;
		margin-bottom: 0px;
		text-align: center;
	}

	// button{
	// 	background-color: #7E57C2; 
	// 	color: white;
	// }
}

#main-footer{
 	//position: relative;
 	bottom: 0;
 	width: 100%;
 	background: #131313;
 	color: #dadada;
	padding:{
		top: 20px;
		bottom: 20px;
	}
 }

#jobsearch{
	width: 300px;
	border-radius: 2px !important;
	height: 35px;
}


.skill{
 	display: block;
 	background: white;
	
}

.carousel-inner{	
	max-height: 200px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}


.profile_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    z-index: 1000;
    position: inherit;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
    margin: auto;
}

#brand-name{
	color: white;
}

#helper-nav{
	width: 100%;
	height: 30px;
	background: #fff;
 	box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
 	margin-bottom: 22px;
 	padding-top: 5px;
 	overflow: hidden;
 	li{
 		display: inline;
 		padding: {
 			right: 10px;
 		}
 		a{

 			color: $text-color;
 			text:{
 				align: center;
 				decoration:none;
 			}

 			&:hover{
 				color: #3fadf4;
 			}
 		}
 	}
}
#main-nav{
	border-color: $border-color !important;
	margin-bottom: 0px !important;
	background-color: #103f6f !important;
}


#details-board{
	text-align: center;
	p{
		font-size: 30px;
	}
}

.right-bordered{
	border:{ 
		right: 1px solid transparent;
		color: $border-color;
	}

}

[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }

#featured-job-panel{
	border-radius: 4px;
	border: 0px !important;
	
	height: 200px;
	.panel-heading{
		padding: 0px !important;

		img{
			width: 100%;
			height: 100%
		}
		max-height: 50%;
		overflow: hidden;
	}
	.panel-body{
		padding:2px;
	}

}
.featured-user{
	display: block;
	height: 35px;
	font-size: 12px;
	margin:{
		top: 0px;
	}
	img{
		width: 25px;
		float: left;
		//margin: 5px;
	}
	padding: 5px;
}

.featured-title{
	padding: 5px;
}
.featured-action{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cfcfcf;
	padding: 2px;
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 70px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.categories-search{
    background-color: white;
    position: absolute;
    margin-top: 50px;
    left: 248px;
    width: 564px;
    border-radius: 5px;
}

.categories-search:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.categories-search:after {
  position: absolute;
  top: -6px;
  left: 299px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.panel{
	border-radius: 0px;
}

.inbox-table{
	background-color: white;
}

input{
	border-radius: 2px !important;
}

.user-stats{
	width: 100%;
}

.gig-create-form{
	padding: 0px;
	background-color: white;
}

.create-gig-container{
	margin-bottom: 30px;
}

.home-images{
	height: 500px;
	background-image: url('../img/wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.info-row{
	background-color: #222222;
	padding: 40px;
	text-align: center;
	color: #dadada;
}

.plain-row{
	padding: 50px;
}

.big-register-button{
	width: 200px;
	background-color: blue;
}

.card{
        background-color: white;
        padding: 5px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
        
    }

%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.star-rating {
  margin-left: 26%;
  &__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: #ABABAB;
    transition: color .2s ease-out;

    &:hover {
      cursor: pointer;
    }
    
    &.is-selected {
      color: #FFD700;
    }
    
    &.is-disabled:hover {
      cursor: default;
    }
  }

  &__checkbox {
    @extend %visually-hidden;
  }
}

.sent-message{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #9b9b9b;
	padding: 5px;
}
.recieved-message{
	@extend .sent-message;
	background-color: #f9f9f9;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fffcfc !important;
}

#guestsearch{
		width: 200px;
		border-radius: 2px !important;
		height: 35px;
	}

.add-funds-box{
	width: 500px;
	margin: auto;
}
@media only screen and (max-width: 768px){
	.add-funds-box{
		width: 90%;
		margin: auto;
	}
}

@media only screen and (max-width: 500px){
	.gig-block{
		width: 60%;
		margin: auto;
	}
}

.user-block{
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}

.el-tag + .el-tag {
    margin-left: 10px;
  }
.button-new-tag {
margin-left: 10px;
height: 32px;
line-height: 30px;
padding-top: 0;
padding-bottom: 0;
}
.input-new-tag {
width: 90px;
margin-left: 10px;
vertical-align: bottom;
}

.profile_img{
	cursor: pointer;
}

.user-pic{
	float: none;
    display: block;
    position: relative;
    margin: 0 auto 15px;
    border-radius: 0;
    overflow: visible;
    box-sizing: border-box;
}
.user-pic:before {
    background: rgba(0,0,0,.65);
    content: "\F030";
    font: 30px/150px FontAwesome;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
}

.user-pic:hover:before {
    opacity: 1;
}

.footer{
	clear: both;
    position: relative;
    z-index: 10;
    text-align: center;
    background-color: #222222;
    color: #dadada;
    padding: 7px;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

.gig-block{
	height: 248px;
	padding: 0px;
	margin-bottom: 10px;
	.gig-block-image{
		height: 45%;
		cursor: pointer;
		img{
			width: 100%;
			height: 100%;
		}
	}

	.gig-block-body{
		padding: 8px;
		height: 41%;
		overflow: hidden;
		.user{
			word-wrap: break-word;
		}
		.title{
			padding-top: 5px;
			width: 100%;
			height: 100%;
			a{
				overflow: hidden;
				word-wrap: break-word;
				text-overflow: ellipsis;
			}
			
		}
		
		.user-img{
			width: 40px;
			display: inline;
		}
	}
	.gig-block-footer{
		width: 100%;
		bottom: 0px;
		padding: 5px;
		border-top-color: #d0d0d0;
		border-top-style: solid;
		border-top-width: 1px;
	}
}

.custom-offers {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px;
    border-color: gray;
}